// Variables -------------------------------------


// Mixins --------------------------------------


// Placeholders --------------------------------------


// Styles --------------------------------------
.ui-results {
    margin-top: $layout-header-height;
    text-align: center;
    padding: 1px 0;

    .container {
        font-size: 0;
    }

    img {        
        border: 1px solid white;
    }
}