doctype 5
html(lang="en-US")
    block vars
        - var router = 'default'

    head
        meta(charset="UTF-8")
        title Fickr Search

        meta(content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0", name="viewport")

        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300")
        link(rel="stylesheet", href="/css/search.css")

        block head

    body(data-appular-router="#{router}")

        header 
            block header

        block content

        footer
            block footer

        block scripts
            - if (environment === 'development')
                script(src="/js/libraries/require/require.js", data-main="/js/libraries/require/configs/dev")
            - else
                script(src="/js/build/libraries/require/require.js")