doctype 5
html(lang="en-US")
    block vars
        - var app = 'default'

    head
        meta(charset="UTF-8")
        title Appular Project

        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300")
        link(rel="stylesheet", href="/css/search.css")

        block head

    body(data-appular-app="#{app}")

        header 
            block header

        block content

        footer
            block footer

        block scripts
            - if (environment === 'development')
                script(src="/js/libraries/require/require.js", data-main="/js/libraries/require/configs/dev")
            - else
                script(src="/js/build/initialize.js")