extends layouts/main

block vars
    - var app = 'search'


block content
    .ui-header(data-appular-component="header")
        input(type="text", placeholder="tacos, San Francisco, soccer")
    div(data-appular-component="results")