extends layouts/main

block vars
    - var app = 'search'


block content
    .ui-header(data-appular-component="header")
        i.search
        input(type="text", placeholder="What would you like to see?")
    .ui-results(data-appular-component="results")
        .container(data-container)