// Variables -------------------------------------


// Mixins --------------------------------------


// Placeholders --------------------------------------


// Styles --------------------------------------
html, body {
    height: 100%;
}

body {
    font-family: $font-sans-family;
    color: $color-gray-darker;
    font-weight: 300;
}