@font-face {
    font-family: 'flickr-search';
    src:url('/fonts/flickr-search.eot?-sedr1');
    src:url('/fonts/flickr-search.eot?#iefix-sedr1') format('embedded-opentype'),
        url('/fonts/flickr-search.woff?-sedr1') format('woff'),
        url('/fonts/flickr-search.ttf?-sedr1') format('truetype'),
        url('/fonts/flickr-search.svg?-sedr1#flickr-search') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-sans-family: 'Titillium Web', sans-serif;